
# Adult dataset

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# set this so the graphs open internally
%matplotlib inline

### Step 2. Import the dataset from this [address](https://github.com/thieu1995/csv-files/blob/main/data/pandas/adult.data).

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/adult.data")

**2. What is the average age (*age* feature) of women?**

In [54]:
df.rename(columns = {list(df)[0]:'Age'}, inplace=True)

In [56]:
df[df['sex']=='Female']['Age'].mean()

nan

**3. What is the percentage of German citizens (*native-country* feature)?**

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [49]:
#3
df['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [52]:
#4-5
# df.rename(columns = {list(df)[14]:'salary'}, inplace=True)
df['salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [58]:
df.rename(columns = {list(df)[3]:'Education'}, inplace=True)

,Age,new_name,fnlwgt,Education,13,Never-married,Adm-clerical,Not-in-family,White,sex,2174,0,40,native-country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [59]:
df['Education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [61]:
df[df['salary']=='>50K']['Education'].unique()

array([], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [66]:
df.rename(columns = {list(df)[8]:'Race'}, inplace=True)

In [65]:
df.groupby(['Race', 'sex'])['Age'].describe()

                               count       mean        std   min   25%   50%  \
Race                sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19173.0  39.652532  13.436378  17.0  29.0  38.0

                               75%   max
Race                sex
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [69]:
df.rename(columns = {list(df)[5]:'marital-status'}, inplace=True)

In [70]:
df['marital-status'].unique()

array([' Married-civ-spouse', ' Divorced', ' Married-spouse-absent',
       ' Never-married', ' Separated', ' Married-AF-spouse', ' Widowed'],
      dtype=object)

In [ ]:
married = len(data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.match('Married'))])
married

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [ ]:
# You code here

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [ ]:
# You code here